@{
    var disco = ViewBag.Disco as Disco;
    var canciones = ViewBag.Canciones as List<string>;
}

<header class="headerMostrar">
<img src="/img/descarga.png" alt="Logo" class="ImagenLogo">
<img src="@disco.Datos.Foto" alt="Logo" class="ImagenBanner">
 <a target="_blank" href="@disco.Datos.Link"><h1> @disco.Datos.Nombre </h1></a>
    <h2 class="Descripcion">》@disco.Datos.Descripción</h2 >
    <p>De <a target="_blank" href="@disco.Datos.LinkArtista"> <span class="Banda">@disco.Datos.Banda</span > </a></p>
    <p>Producido por @disco.Datos.Productor</p>
    <p>@disco.Datos.OyentesMensuales oyentes mensuales</p>
</header>

<main>


    <h3>Canciones</h3>
    <ul>
        @foreach (var cancion in canciones)
        {
            <div class="Cancion">
            <li>𝄞 @cancion</li>
            <img src="/img/explicit.png" alt="Logo" class="ImagenExplicit">
            <h7>@disco.Datos.Banda</h7>
            </div>
        }
    </ul>
</main>
<footer>
  <pre>

  
.==============================================.
|                                              |
|                           .'\                |
|                          //  ;               |
|                         /'   |               |
|        .----..._    _../ |   \               |
|         \'---._ `.-'      `  .'              |
|          `.    '              `.             |
|            :            _,.    '.            |
|            |     ,_    (() '    |            |
|            ;   .'(().  '      _/__..-        |
|            \ _ '       __  _.-'--._          |
|            ,'.'...____'::-'  \     `'        |
|           / |   /         .---.              |
|     .-.  '  '  / ,---.   (     )             |
|    / /       ,' (     )---`-`-`-.._          |
|   : '       /  '-`-`-`..........--'\         |
|   ' :      /  /                     '.       |
|   :  \    |  .'         o             \      |
|    \  '  .' /          o       .       '     |
|     \  `.|  :      ,    : _o--'.\      |     |
|      `. /  '       ))    (   )  \>     |     |
|        ;   |      ((      \ /    \___  |     |
|        ;   |      _))      `'.-'. ,-'` '     |
|        |    `.   ((`            |/    /      |
|        \     ).  .))            '    .       |
|     ----`-'-'  `''.::.________:::TT'' ---    |
|                                              |
|                                              |
|==============================================|
|                  THEO TROSMAN                |
|         https://github.com/theotrosman       |
'=============================================='
  </pre>



</footer>
 